<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="fruits">
        <li ng-repeat="fruit in $ctrl.fruits | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
          <a href="#!/fruits/{{fruit.id}}" class="thumb">
            <img ng-src="{{fruit.imageUrl}}" alt="{{fruit.name}}" />
          </a>
          <a href="#!/fruits/{{fruit.id}}">{{fruit.name}}</a>
          <p>{{fruit.snippet}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
